<mat-toolbar color="primary">
  <div>Un petit jeu d'allumettes</div>
</mat-toolbar>

<mat-grid-list cols="1" rowHeight="10:1">
  <mat-grid-tile>
    <span>Celui qui prend la dernière allumette gagne la partie !</span>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="1" rowHeight="8:1">
  <mat-grid-tile>
    <i *ngFor="let allumette of matches" class="material-icons">whatshote</i>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="3" rowHeight="4:1">
  <mat-grid-tile>
    <span>Joueur 1</span>
    <mat-button-toggle-group [disabled]="!turnPlayer" (change)="playTurn($event)">
      <mat-button-toggle value="1">1</mat-button-toggle>
      <mat-button-toggle [disabled]="matches.length < 2" value="2">2</mat-button-toggle>
      <mat-button-toggle [disabled]="matches.length < 3" value="3">3</mat-button-toggle>
    </mat-button-toggle-group>
  </mat-grid-tile>
  <mat-grid-tile>
    {{scoreP1}} - {{scoreP2}}
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-button-toggle-group [disabled]="turnPlayer" (change)="playTurn($event)">
      <mat-button-toggle value="1">1</mat-button-toggle>
      <mat-button-toggle [disabled]="matches.length < 2" value="2">2</mat-button-toggle>
      <mat-button-toggle [disabled]="matches.length < 3" value="3">3</mat-button-toggle>
    </mat-button-toggle-group>
    <span>Joueur 2</span>
  </mat-grid-tile>
</mat-grid-list>

<router-outlet></router-outlet>
